banner-heading = rgb(77, 77, 77);
banner-text = rgb(98, 98, 98);
banner-dark = rgb(30,30,30);
banner-border-top = rgb(158, 158, 158);
banner-border = rgb(132, 132, 132);
banner-border-bottom = rgb(110, 110, 110);
banner-background = rgba(241, 241, 241, 0.95);
banner-background-bottom = rgba(254, 254, 254, 0.95);
banner-yes = rgb(105, 182, 75);
banner-no = rgb(204, 99, 99);

.banner {
    //display: none;
    background: transparent;
    position: fixed;
    z-index: 400;
    width: 250px;
    right: 20px;
    top: 20px;
    text-align: left;

    .notice {
        padding: 10px;
        color: banner-text;
        position: relative;
        font: 11px/15px "Lucida Grande","Lucida Sans",Verdana,Helvetica,Arial,sans-serif;
        overflow: hidden;
        max-height: 100px;

        background-color: banner-background;
        background-image: -webkit-gradient(linear, left top, left bottom, from(banner-background), to(banner-background-bottom));
        background-image: -webkit-linear-gradient(top, banner-background, banner-background-bottom);
        background-image:    -moz-linear-gradient(top, banner-background, banner-background-bottom);
        background-image:      -o-linear-gradient(top, banner-background, banner-background-bottom);
        background-image:         linear-gradient(to bottom, banner-background, banner-background-bottom);



        border: 1px solid banner-border;
        border-top-color: banner-border-top;
        border-bottom-color: banner-border-bottom;
        margin-bottom: 15px;

        -webkit-border-radius:  5px;
            -moz-border-radius: 5px;
                 border-radius: 5px;

        -webkit-box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.25);
           -moz-box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.25);

        -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

        &.hidden {
            max-height: 0;
            padding: 0;
            margin-bottom: 0;
            border-width: 0px;
        }

        h3 {
            margin: 0 60px 3px 0;
            color: banner-dark;
            font-weight: bold;
            font-size: 13px;
        }

        h3 + .message .actions {
            margin-top: -10px;
        }
        .message {

            p{
                margin:0 60px 0 0;

            }
            input {
                //margin-left: 15px;
            }
            .actions {
                position: absolute;
                top: 50%;
                right: 10px;
                width: 60px;
                text-align: right;

                .bannerButton {
                    display: inline-block;
                    vertical-align: middle;
                    height: 23px;
                    width: 23px;
                    overflow: hidden;
                    padding: 0;
                    text-indent: 100px;
                    cursor: pointer;
                    margin: 2px;
                    -webkit-transition: background-color 200ms ease-out;
                       -moz-transition: background-color 200ms ease-out;
                        -ms-transition: background-color 200ms ease-out;
                         -o-transition: background-color 200ms ease-out;
                            transition: background-color 200ms ease-out;

                    &.yes {
                        background: banner-yes;

                        -webkit-border-radius: 50%;
                                border-radius: 50%;

                        -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

                        &:hover {
                            background: darken(banner-yes, 12%);
                        }

                        &:before {
                            content: "";
                            height: 8px;
                            width: 3px;
                            background-color: #fff;
                            display: block;
                            margin: 10px 6px;

                            -webkit-transform: rotate(-45deg);
                               -moz-transform: rotate(-45deg);
                                -ms-transform: rotate(-45deg);
                                 -o-transform: rotate(-45deg);
                                    transform: rotate(-45deg);


                        }

                        &:after {
                            content: "";
                            height: 14px;
                            width: 3px;
                            background-color: #fff;
                            display: block;
                            margin: -38px 12px;

                            -webkit-transform: rotate(45deg);
                               -moz-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                 -o-transform: rotate(45deg);
                                    transform: rotate(45deg);


                        }

                    }

                    &.no {
                        background: banner-no;


                          -webkit-border-radius: 20%;
                                  border-radius: 20%;

                          -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

                        &:hover {
                            background: darken(banner-no, 8%);
                        }

                        &:before {
                            content: "";
                            height: 16px;
                            width: 3px;
                            background-color: #fff;
                            display: block;
                            margin: 4px 10px;

                            -webkit-transform: rotate(-45deg);
                               -moz-transform: rotate(-45deg);
                                -ms-transform: rotate(-45deg);
                                 -o-transform: rotate(-45deg);
                                    transform: rotate(-45deg);


                        }

                        &:after {
                            content: "";
                            height: 16px;
                            width: 3px;
                            background-color: #fff;
                            display: block;
                            margin: -35px 10px;

                            -webkit-transform: rotate(45deg);
                               -moz-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                 -o-transform: rotate(45deg);
                                    transform: rotate(45deg);


                        }

                    }
                }
            }
        }
    }
}