body,html {
    margin:0;
    padding: 0;
    overflow: hidden;
    color: white;
}
#wholeContainer{
    width: 150px;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.6);
    padding: 15px;
}
#demoContainer{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    list-style: none;
    margin: 0;
    line-height: 10%;
    width: 100%;
    height: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.square {
    height: 10%;
    width: 10%;
    display: inline-block;
    background: #69f;
    padding: 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;

}
#wholeContainer > div {
    display: none;
}
#wholeContainer > div.active {
    display: block;
}
p.section{
    display: none;
}
#wholeContainer input, #wholeContainer select {
    width: 100%;
}
.pointer .hovered {
    background: #6f9 !important;
}
.char {
    display: none;
}
.key .char {
    display: block;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 200;
    top:0;
    left: 0;
    text-align:center;
    color: #6f9;
    font-size: 95vmin;
    line-height: 90vmin;
}
.key .char.code {
    opacity: 0.4;
    font-size: 50vmin;
}
.red .square{
    background: #f66;
}
.green .square{
    background: #6f9;
}
.yellow .square{
    background: #ff6;
}
.orange .square {
    background: #f96;
}
.scriptToggler {
    background: rgba(0,0,0,0.8);
    padding: 5px 10px;
    position: fixed;
    cursor: pointer;
    bottom: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.scriptToggler.active {
    bottom: 300px;
}
.scriptExample {
    font: 14px/20px courior, monospace;
    position: fixed;
    width: 100%;
    white-space: pre;
    background: rgba(0,0,0,0.8);
    bottom: 0;
    left: 0;
    height: 10px;
    overflow:hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}
.scriptExample.active {
    height: 300px;
    overflow:auto;
    padding: 15px;
    padding-top:0;
}