
modal-border = #69f - #111;
modal-light = modal-border + #222;
modal-background = #fff;
modal-title-color = #eee;
modal-text = #333;

oButton(ts, t, s, b, gT, gM, gB,){
	text-shadow: ts 0 -1px 0;

	border-top: 1px solid t;
	border-left: 1px solid s;
	border-right: 1px solid s;
	border-bottom: 1px solid b;

	background-color: gM;
	background-image: -webkit-gradient(linear, left top, left bottom, from(gT), to(gM), color-stop(0.04, gB) );
	background-image: -webkit-linear-gradient(top, gT 0pt, gM 4%, gB 100%);
	background-image:    -moz-linear-gradient(top, gT 0pt, gM 4%, gB 100%);
	background-image:      -o-linear-gradient(top, gT 0pt, gM 4%, gB 100%);
	background-image:         linear-gradient(top, gT 0pt, gM 4%, gB 100%);

	color: #fff;

	-webkit-border-radius: 4px;
			border-radius: 4px;

	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding;
			background-clip: padding-box;

	padding: .15em .4em .2em;
	font-size: 13px;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
}

.modal {
	max-width: 400px;
	min-width: 200px;
}
.modal.wide {
	max-width: 700px;
	min-width: 500px;
}

.modal{
	position: fixed;
	z-index: 201;
	border: 2px solid modal-border;
	background-color: modal-background;
	margin: 0 auto;
	right:0;
	left: 0;
	top: 10%;

	background-image: -webkit-linear-gradient(top, modal-border 10px, modal-background 11px);
	background-image:    -moz-linear-gradient(top, modal-border 10px, modal-background 11px);
	background-image:     -ms-linear-gradient(top, modal-border 10px, modal-background 11px);
	background-image:      -o-linear-gradient(top, modal-border 10px, modal-background 11px);
	background-image:         linear-gradient(top, modal-border 10px, modal-background 11px);


	-webkit-border-radius: 4px;
			border-radius: 4px;

	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;


	h3 {
		padding: 10px 10px;
		margin: 0 0 7px 0;
		font: normal 12px/8px "Lucida Grande","Lucida Sans","Lucida Sans Regular","Lucida Sans Unicode",Verdana,Helvetica,Arial,sans-serif;
		color: modal-title-color;
		text-shadow: 0px 1px 1px #fff - modal-title-color;

		background-color: modal-border;
		background-image: -webkit-gradient(linear, left top, left bottom, from(modal-light), to(modal-border));
		background-image: -webkit-linear-gradient(top, modal-light, modal-border 90%);
		background-image:    -moz-linear-gradient(top, modal-light, modal-border 90%);
		background-image:     -ms-linear-gradient(top, modal-light, modal-border 90%);
		background-image:      -o-linear-gradient(top, modal-light, modal-border 90%);
		background-image:         linear-gradient(top, modal-light, modal-border 90%);


		-webkit-border-top-right-radius: 4px;
				border-top-right-radius: 4px;

		-webkit-border-top-left-radius: 4px;
				border-top-left-radius: 4px;

		-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	}

	.message {
	    padding: 10px;
		color: modal-text;
		font: 12px/16px "Lucida Grande", "Lucida Sans", "Lucida Sans Regular", "Trebuchet MS", Arial, sans-serif;
		margin: 0 10px 0 10px;

		p {
			//margin-bottom: 15px;

			/*.modalList {
				max-height: 300px;
				overflow: auto;
				display: block;
				border: 1px solid #999;
				background: #fff;
				margin: 15px 0;
				-webkit-border-radius: 2px;
						border-radius: 2px;

				-webkit-background-clip: padding-box;
				   -moz-background-clip: padding;
						background-clip: padding-box;

				.modalListItem {
					display: inline-block;
					margin: 5px 15px;
					word-wrap: break-word;
				}
			}*/
		}
		.actions {
			margin-top: 5px;
			span {
				margin-right: 5px;
			}
		}

	}

	.yes {
		oButton(#303E53, #929B5A, #808F43, #586524, #C7D397, #ABBA6D, #6C7A2F);
	}
	.no {
		oButton(#303E53, #a35353, #722f2f, #711111, #c06565, #a15252, #884242);
	}
}
.blackout {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000000;
	z-index: 200;
}
